<%= form_with(model: review, local:true) do |form|%>
  <% if review.errors.any? %>
    <div id="error_reason">
      <h2><%= pluralize(review.errors.count, "error") %> This show can't be saved:</h2>
      <ul>
        <% review.errors.full_messages.each do |message| %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
